body{
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.navbar{
    background-color: #F4F9DE;
    color: #6A5746;

}
.table{
    background-color: #fff;
    padding:4%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}
