{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6 d-flex align-items-stretch">
      <div class="card">
        <div class="card-header">
           tendencia cpks
        </div>
        <div class="card-body" style="height: 34rem">
          <div id="carouselExampleControls2" class="carousel slide m-5 p-4 align-self-center" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/static/graphs/cpkcpk_graph+1.png" class="d-block w-100" alt="...">
              </div>
                {% for n in range (11) %}
                  <div class="carousel-item">
                    <img src="/static/graphs/cpkcpk_graph+{{n+2}}.png" class="d-block w-100" alt="...">
                  </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 d-flex align-items-stretch">
      <div class="card">
        <div class="card-header">
          cpks
        </div>
        <div class="card-body">
          <div id="carouselExampleControls" class="carousel slide m-5 p-4 align-self-center" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <!-- joder -  era bien facil, solo habia que meter la carpeta graphs en static -->
                <img src="/static/graphs/graph+1.png" class="d-block w-100" alt="...">
              </div>
                {% for n in range (11) %}
                  <div class="carousel-item">
                    <img src="/static/graphs/graph+{{n+2}}.png" class="d-block w-100" alt="...">
                  </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}