{% extends "layout.html" %}
{% block content %}

<div class="p-5 m-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Visualizacion estadistica cpks</h1>
        <p class="col-md-8 fs-4">Python web app para visualizar tanto las tablas como las graficas del calculod de
            cpks
            de la máquina de esfuerzos. Creada para hacer seguimiento de los resultados y ver las tendencias</p>
        <button class="btn btn-warning btn-lg" type="button">Al turron</button>
    </div>
</div>

{% endblock %}